<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- uuid varchar(256) not null,
save_dir varchar(256) not null,
file_name varchar(256) not null,
file_type tinyint(1) default 0,
bno bigint,
file_size  bigint,
reg_date datetime default now(),
primary key(uuid) -->
  
<mapper namespace="com.ezen.spring.dao.FileDAO">
	<insert id="insertFile">
		insert into file(uuid, save_dir, file_name, file_type, bno, file_size)
		value(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{bno}, #{fileSize})
	</insert>
	<select id="getList" resultType="com.ezen.spring.domain.FileVO">
		select * from file where bno = #{bno}
	</select>
	<delete id="deleteFile">
		delete from file where uuid = #{uuid}
	</delete>
	
	<select id="selectListAllFile" resultType="com.ezen.spring.domain.FileVO">
		select * from file
	</select>
	
	<select id="getBnoToUuid">
		select bno from file where uuid = #{uuid}
	</select>
</mapper>